@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
  --font-jet: var(--font-jet);
}

* {
  scrollbar-width: thin;
}

html[data-cursor="none"], html[data-cursor="none"] body, html[data-cursor="none"] body * {
  cursor: none !important;
}
